.regalo
	color: $naranja
	font-weight: bold
	font-size: 1rem



// .bttn-new
// 	color: $blanco
// 	background-color: $azul-bttn
// 	border-radius: $border-radius
// 	font-size: 1.5em
// 	margin: 3em 2em
// 	padding: 8px
// 	width: 50%
	// @media screen and (max-width: 922px)
	// 	padding: 5px
	// 	width: 70%
        
    
	// margin-top: $mrt
	// margin-bottom: $mrb

.modelo
	color: $modelo
	font-size: 2rem
	font-weight: bold
	font-family: $font-r



