// Archivo de estilos segunda sección

// sección amigo plan
.custom-radio .custom-control-input:checked~.custom-control-label::after
	background-image: none
.custom-control-label::before
	border: 2px solid $modelo

.custom-radio .custom-control-input:checked~.custom-control-label::after
	background-color: $txt
	border-radius: 100%

// casucel
.carousel-indicators .active
	background-color: blue

.carousel-indicators li
	background-color: #fff
	border: 2px solid #dee4ea
	border-radius: 50%
	height: 15px
	top: 47px
	width: 15px

.carousel-control-next-icon:after
	content: ">"
	font-size: 30px
	color: blue

.carousel-control-prev-icon:after
	content: "<"
	font-size: 30px
	color: blue

.carousel-control-prev-icon, .carousel-control-next-icon
	background-image: none
	height: 50px

.w-img
	margin-left: 15%
	width: 70%


.btn-color
	background-color: #000
	border-radius: 50px
	padding: 10px
	height: 15px
	width: 15px

//estilos de bóton capacidad y botones pasos
.GB, .paso
	color: $color
	background-color: transparent
	border: none
	font-weight: bold
	&:focus
		box-shadow: none
		
// Estilos de border-radius botones pasos
.paso
	color: $txt
	// font-size: 1em
	border: 2px solid $txt
	border-radius: 50%
	margin-bottom: 5px
	height: 30px
	padding: 0px 0px 2px 0px
	width: 30px

// Estilos de contenedor plan amigo
.planes
	background-color: #f1f1f1
	border: 2px solid $gris2
	border-radius: 5px
	color: $modelo
	font-weight: bold
	font-size: 1.2em
	&:hover
		background-color: $bg-hover
		border: 2px solid $border
		color: $txt
		label
			font-weight: bold
		
// Estilos de color compra
.s-compra
	color: $txt
	strong, i
		color: $color

// Tamaño texto plan
.txt-plan
	font-size: .7em

// Titulos en negritas
h2, h5
	font-weight: bold


