// Archivo de estilos segunda sección
// .aviso
// 	color: $marca
// 	font-size: .8em
.btn-color
	background-color: #000
	border-radius: 50px
	padding: 10px
	margin: 0 2px
	heigth: 15px
	width: 15px

//estilos de bóton capacidad y botones pasos
.GB, .paso
	color: $color
	background-color: transparent
	border: none
	font-weight: bold
	&:focus
		box-shadow: none
		
// Estilos de border-radius botones pasos
.paso
	color: $txt
	// font-size: 1em
	border: 2px solid $txt
	border-radius: 100px
	margin-bottom: 5px
	heigth: 35px
	width: 40px

// Estilos de contenedor plan amigo
.planes
	background-color: #f1f1f1
	border: 2px solid $gris2
	border-radius: 5px
	color: $modelo
	font-weight: bold
	font-size: 1.2em	
	&:hover
		background-color: $bg-hover
		border: 2px solid $border
		color: $txt
		label
			font-weight: bold
// Estilos de color compra
.s-compra
	color: $txt
	strong, i
		color: $color
// Tamaño texto plan
.txt-plan
	font-size: .7em


// Titulos en negritas
h2, h5
	font-weight: bold

// Estilo de botones capacidad
.bttn-64, .bttn-128 
		color: $modelo
// 		font-size: $font-size
		font-weight: bold
		border: none
		border: 1px solid $gris2
		border-radius: 5px
		margin: 0px 7px
// 		&:hover
// 			background-color: $azul1
// 			// border: none
// 			border: 1px solid $azul1
// 			color: $azul-bttn

