// /* variables de colores */
$bg-hover: #f1fbff
$border: #02b0ef
$color: #2862ac
$txt: #062C5F
$txt-opc: #9fa1a2
$gris2: #898989
$gris-br: #f5f5f5
$modelo: #4A4A4A
$marca: #02b0ef
$naranja: #E6884C

// /* variables fuentes*/
$font-r: Roboto
$font-m: Montserrat






